.container-wrap {
  position: relative;
  width: 320px;
  height: 568px;
  margin: 50px auto;
  position: relative;
  background: white;
  border-radius: 20px;
  display: -webkit-box;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
