* {
  box-sizing: border-box;
}

body {
  overflow: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;

  /* background-image: url("./assets/art.jpg"); */
}

button {
  outline: none;
}
